<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Post</title>
    <style>
        body{
            background-color: #f77;
            color: azure;
            font-family: sans-serif;
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Welcome to Michael Post</h2>
        <hr>
        <br>
        <p>Hello, I am Michael Efe an Aspiring Web Designer....</p>
        <footer>
            <p>&copy; Michael 2022.</p>
        </footer>
    </div>
</body>
</html>